<h1>Stupid Coaching</h1>
<form action="/answer">
  <p>Ask your coach anything:</p>
  <input id="input" type="text" name="question" placeholder="I am going to work or Hello or What time is it?">
  <input id="ask" type="submit" value="Ask!">
</form>
